body { 
    font: 12px Arial;
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse
}

#dropdown-box {
    position: absolute;
    margin-left: 1030px;
    top: 460px;
    font: 16px Arial;
}

#leg-box {
    position: absolute;
    margin-left: 1030px;
    top: 430px;
    font: 16px Arial;
}

select {
    width: 5rem;
}



path {
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 120px;
    height: auto;
    padding: 8px;
    font: 14px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.tooltip .subtext {
    font: 12px sans-serif;
    font-style: italic;
}